

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}


.table-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  overflow-x: auto;
}

.sales-table {
  border-collapse: collapse;
  width: 95%;
  background-color: rgb(211, 34, 34);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


.sales-table th,
.sales-table td {
  border: 1px solid #333;
  padding: 10px 12px;
  text-align: center;
  font-size: 14px;
}


.sales-table th {
  background-color: #2c3e50;
  color: white;
  position: sticky;
  top: 0;
}


.sales-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


.sales-table tr:hover {
  background-color: #dfe6e9;
}


